<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="fragments/header:: headerFragment"></th:block>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/BoardForm.css}">
</head>
<body>

<div class="container">
    <form th:action="@{/ncAmericaBoard/Update}" method="post" enctype="multipart/form-data">

        <input type="hidden" id="id" name="id" th:value="${boardOne.ncamericaId}" placeholder="제목을 입력하세요" maxlength="15">

        <div class="row">
            <div class="col-25">
                <label class="title_label" for="category">카테고리</label>
            </div>
            <div class="col-75">
                <select id="category" name="category">
                    <option th:value="${boardOne.ncamericaCategory}" th:text="${boardOne.ncamericaCategory}"></option>
                    <option value="USA">미국</option>
                    <option value="Mexico">멕시코</option>
                    <option value="Guatemala">과테말라</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label class="title_label" for="tubelink">유튜브 주소 ID</label>
            </div>
            <div class="col-75">
                <input type="text" id="tubelink" name="tubelink" th:value="${boardOne.tubelink}" placeholder="유튜브 주소 ID를 입력하세요">
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label class="title_label" for="title">제목</label>
            </div>
            <div class="col-75">
                <input type="text" id="title" name="title" th:value="${boardOne.ncamericaTitle}" required>
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label class="title_label" for="content">내용</label>
            </div>
            <div class="col-75">
                <textarea id="content" name="content" th:text="${boardOne.ncamericaContent}" placeholder="내용을 입력하세요" style="height:200px" required> </textarea>
            </div>
        </div>

        <input type="hidden" id="date" name="date" th:value="${#temporals.format(localDate,'yyyy-MM-dd')}">

        <br>
        <input type="file" name="file"/>

        <div class="row">
            <input type="submit" value="수정">
        </div>
    </form>
</div>

</body>
</html>