<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="fragments/header:: headerFragment"></th:block>
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        table {border-collapse: collapse; width: 100%;}
        th, td {padding: 8px; text-align: left; border-bottom: 1px solid #ddd;}
        tr:hover {background-color: coral;}
    </style>

</head>
<body>



<!--                            <label>-->
<!--                                <select id="cntPerPage" name="sel" onchange="selChange()" aria-controls="example-datatable" class="form-control">-->
<!--                                    <option value="5"> <th:if test="${paging.cntPerPage == 5}">selected</th:if>>5줄 보기</option>-->
<!--                                    <option value="10"> <th:if test="${paging.cntPerPage == 10}">selected</th:if>>10줄 보기</option>-->
<!--                                    <option value="15"> <th:if test="${paging.cntPerPage == 15}">selected</th:if>>15줄 보기</option>-->
<!--                                    <option value="20"> <th:if test="${paging.cntPerPage == 20}">selected</th:if>>20줄 보기</option>-->
<!--                                </select>-->
<!--                            </label>-->
                <table>
                    <thead>
                    <tr>
                        <th class="text-center">no</th>
                        <th>카테고리</th>
                        <th>제목</th>
                        <th>조회수</th>
                        <th>작성일</th>
                    </tr>
                    </thead>

                    <tbody>
                        <tr th:each="mainproduct: ${mainproducts}">

                           <td th:text="${mainproduct.mainProductId}"></td>
                            <td th:text="${mainproduct.mainProductCategory}"></td>
                            <td>
                                <a th:href="@{'/mainProductBoard/Detail' + ${mainproduct.mainProductId}}" >
                                    <span th:text="${mainproduct.mainProductTitle}"></span>
                                </a>
                            </td>
<!--                            <td th:text="${mainproduct.mainProductContent}"></td>-->
                            <td th:text="${mainproduct.mainProductHit}"></td>
                            <td th:text="${mainproduct.mainProductDate}"></td>

                        </tr>
                    </tbody>
                </table>
<button type="button" th:onclick="|location.href='@{/mainProductBoard/Insert}'|">글쓰기</button>

</body>
</html>