<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="fragments/header:: headerFragment"></th:block>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        function Detail(id) {
            location.href = "http://localhost:8082/mainProductBoard/Detail"+id;
        }
    </script>
    <style>
        table {border-collapse: collapse; width: 100%;}
        th, td {padding: 8px; text-align: left; border-bottom: 1px solid #ddd;}
        tr:hover {background-color: #9CE3B3FF;}
    </style>

</head>
<body>
<table>
    <thead>
    <tr>
        <th class="text-center">no</th>
        <th>카테고리</th>
        <th>제목</th>
        <th>조회수</th>
        <th>작성일</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="category: ${categories}" th:onclick="|javascript:Detail(${category.mainProductId})|">

        <td th:text="${category.mainProductId}"></td>
        <td th:text="${category.mainProductCategory}"></td>
        <td th:text="${category.mainProductTitle}"></td>
        <td th:text="${category.mainProductHit}"></td>
        <td th:text="${category.mainProductDate}"></td>

    </tr>
    </tbody>
</table>
</body>
</html>