#banner {
    height: 300px;
}

#ch_write {
    font-weight: bold;
    padding-left: 30px;
}

ul {
    margin-top: 20px;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

table {
    border-collapse: collapse;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

th, td:not(.content) {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #9CE3B3FF;
}

#content {
    padding: 15px;
}

.content {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    line-height: 1.2em;
    height: 3.6em; /* line-height 가 1.2em 이고 3라인을 자르기 때문에 height는 1.2em * 3 = 3.6em */
    width: 500px;
    text-decoration: none;
}