<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="fragments/header:: headerFragment"></th:block>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/Board.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Stylish&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script>
        function Detail(id) {
            location.href = "http://localhost:8082/sAmericaBoard/Detail" + id;
        }
    </script>
    <style>
        *{font-family: 'Stylish', sans-serif;}
    </style>
</head>
<body>
<div id="banner"><img src="/images/buger.png"></div>
<div id="ch_write"> 전체 글  <span style="color: aqua" th:text="${sAmericaList.totalElements}"></span></div>

<table>
    <tbody>
    <tr th:each="sAmericaboards: ${sAmericaList}" th:onclick="|javascript:Detail(${sAmericaboards.samericaId})|">
        <td><img src="/images/buger.png"></td>
        <td th:text="'['+${sAmericaboards.samericaCategory}+'] '+${sAmericaboards.samericaTitle}"></td>
        <td id="content">
            <span class="content" th:text="${sAmericaboards.samericaContent}"></span>
            <br/>
            <span th:text="${sAmericaboards.samericaHit}"></span>
            <span th:text="${sAmericaboards.samericaDate}"></span>
        </td>
    </tr>
    </tbody>
</table>


<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item" th:classappend="${1 == sAmericaList.pageable.pageNumber + 1} ? 'disabled'">
            <a class="page-link" th:href="@{/cenAsiaBoard(country=${country},page = ${sAmericaList.pageable.pageNumber -1})}">&laquo;</a>
        </li>
        <li class="page-item" th:classappend="${i == sAmericaList.pageable.pageNumber + 1} ? 'disabled'" th:each="i : ${#numbers.sequence(startPage,endPage)}">
            <a class="page-link" th:href="@{/cenAsiaBoard(country=${country},page = ${i -1})}" th:text="${i}">1</a>
        </li>
        <li class="page-item" th:classappend="${sAmericaList.totalPages == sAmericaList.pageable.pageNumber + 1} ? 'disabled'">
            <a class="page-link" th:href="@{/cenAsiaBoard(country=${country},page = ${sAmericaList.pageable.pageNumber +1})}">&raquo;</a>
        </li>
    </ul>
</nav>

<button type="button" th:onclick="|location.href='@{/ncAmericaGallery}'|">이전으로</button>

</body>
</html>