<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml">
<th:block th:replace="fragments/header:: headerFragment"></th:block>
<head>

    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/BoardDetail.css}">
    <script>
        function del(id){
            location.href ="/sAmericaBoard/Delete"+id;
            alert("삭제되었습니다.");
        }
    </script>
</head>
<body>

<div class="inner">
    <span class="category" th:text="${boardOne.samericaCategory}"></span>
    <h1 th:text="${boardOne.samericaTitle}"></h1>
    <span class="meta">
        <span class="author">by MinGwan</span>
        <span class="date" th:text="${boardOne.samericaDate}"></span>
        <span class="hit" th:text="${boardOne.samericaHit}"></span>
    </span>
</div>

<div class="container">
    <input type="hidden" id="no" name="no" th:value="${boardOne.samericaId}">

    <div class="video_container" th:if="${boardOne.tubelink !=null}">
        <iframe id="tube" width="800" height="500" th:src="${boardOne.tubelink}" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="video_container" th:unless="${boardOne.tubelink !=null}">
    </div>

    <div class="row">
        <div class="col-75">
            <pre type="text" id="content" name="content" th:text="${boardOne.samericaContent}"></pre>
        </div>
    </div>
</div>
<button type="button" sec:authorize="hasRole('ROLE_ADMIN')" th:onclick="|location.href='@{/sAmericaBoard/Update}${boardOne.samericaId}'|">수정</button>
<button type="button" th:onclick="|location.href='@{/sAmericaBoard(country=${boardOne.samericaCategory})}'|">목록으로</button>
<button type="button" sec:authorize="hasRole('ROLE_ADMIN')" th:onclick="|javascript:del(${boardOne.samericaId})|">삭제하기</button>
</body>
</html>
