<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p th:text="'안녕하세요' + ${data}" > 안녕하세요 손님</p>

<!-- Page content -->
<div id="page-content" class="block full">
    <ul class="breadcrumb breadcrumb-top">
        <li><i class="fa fa-th"></i></li>
        <li><a href="#">${headTitle}</a></li>
    </ul>

    <div class="block">
        <!-- Basic Form Elements Title -->
        <div class="block-title">
            <h2>${headTitle}</h2>
        </div>
        <div class="table-responsive">
            <div id="example-datatable_wrapper" class="dataTables_wrapper form-inline no-footer">
                <div class="row">
                    <div class="col-sm-6 col-xs-5">
                        <div class="dataTables_length" id="example-datatable_length">
                            <label>
                                <select id="cntPerPage" name="sel" onchange="selChange()" aria-controls="example-datatable" class="form-control">
                                    <option value="5"> <th:if test="${paging.cntPerPage == 5}">selected</th:if>>5줄 보기</option>
                                    <option value="10"> <th:if test="${paging.cntPerPage == 10}">selected</th:if>>10줄 보기</option>
                                    <option value="15"> <th:if test="${paging.cntPerPage == 15}">selected</th:if>>15줄 보기</option>
                                    <option value="20"> <th:if test="${paging.cntPerPage == 20}">selected</th:if>>20줄 보기</option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-7">
                        <div id="example-datatable_filter"
                             class="dataTables_filter">
                            <label>
                                <div class="input-group">
                                    <input type="search" class="form-control" placeholder="Search" aria-controls="example-datatable">
                                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
                <table id="example-datatable" class="table table-bordered table-hover dataTable no-footer" role="grid" aria-describedby="example-datatable_info">
                    <thead>
                    <tr>
                        <th class="text-center">No</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>작성일</th>
                        <th>조회수</th>
                        <th:if test="${isAdmin!=null}">
                            <th class="text-center">Actions</th>
                        </th:if>
                    </tr>
                    </thead>

                    <tbody>
                    <th:forEach var="vo" items="${list}">
                        <tr>
                            <td class="text-center">${vo.rn}</td>
<!--                            <td><a href="<c:url value="/boardContent.do"/>?msnb_no=${vo.msnb_no}" >${vo.msnb_subject}</a></td>-->
                            <td>${vo.msm_name}</td>
                            <td>${vo.msnb_date}</td>
                            <td>${vo.msnb_hit}</td>
                            <th:if test="${isAdmin!=null}">
                                <td class="text-center">
                                    <div class="btn-group">
<!--                                        <a href="javascript:void(0)" data-toggle="tooltip" title="Edit Board" class="btn btn-xs btn-default" onclick="contentFn(${vo.msnb_no})""><i class="fa fa-pencil"></i></a>-->
                                        <a href="javascript:void(0)" data-toggle="tooltip" title="Delete Board" class="btn btn-xs btn-default" onclick="deleteFn(${vo.msnb_no})"><i class="fa fa-times"></i></a>
                                    </div>
                                </td>
                            </th:if>
                        </tr>
                    </th:forEach>
                    </tbody>

                    <th:if test="${isAdmin!=null}">
                        <tfoot>
                        <tr>
                            <td colspan="6">
                                <div class="btn-group btn-group-sm">
                                    <a href="javascript:void(0)" onclick="insertForm()" class="btn btn-default" data-toggle="tooltip" title="" data-original-title="Insert Member"><i class="fa fa-magic"></i>글쓰기</a>
                                </div>
                            </td>
                        </tr>
                        </tfoot>
                    </th:if>

                </table>


                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>