<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="fragments/header:: headerFragment"></th:block>

<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        .cate_board {
            border-collapse: collapse;
            width: 700px;
            margin: 20px auto;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        tbody > tr:hover {
            background-color: #9CE3B3FF;
        }
        p {
            padding-left: 5px;
            background-color: #9CE3B3FF;
            color: white;
            width: 50px;
        }
    </style>
</head>
<body>

<div class="cate_board">
    <p th:text="Java"></p>
    <table>
        <thead>
        <tr>
            <th class="text-center">no</th>
            <th>카테고리</th>
            <th>제목</th>
            <th>조회수</th>
            <th>작성일</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="javaBoard: ${javaBoards}">

            <td th:text="${javaBoard.mainProductId}"></td>
            <td th:text="${javaBoard.mainProductCategory}"></td>
            <td>
                <a th:href="@{'/mainProductBoard/Detail' + ${javaBoard.mainProductId}}">
                    <span th:text="${javaBoard.mainProductTitle}"></span>
                </a>
            </td>
            <td th:text="${javaBoard.mainProductHit}"></td>
            <td th:text="${javaBoard.mainProductDate}"></td>

        </tr>
        </tbody>
    </table>
</div>

<div class="cate_board">
    <p th:text="Spring"></p>
    <table>
        <thead>
        <tr>
            <th class="text-center">no</th>
            <th>카테고리</th>
            <th>제목</th>
            <th>조회수</th>
            <th>작성일</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="springBoard: ${springBoards}">

            <td th:text="${springBoard.mainProductId}"></td>
            <td th:text="${springBoard.mainProductCategory}"></td>
            <td>
                <a th:href="@{'/mainProductBoard/Detail' + ${springBoard.mainProductId}}">
                    <span th:text="${springBoard.mainProductTitle}"></span>
                </a>
            </td>
            <td th:text="${springBoard.mainProductHit}"></td>
            <td th:text="${springBoard.mainProductDate}"></td>

        </tr>
        </tbody>
    </table>
</div>

<div class="cate_board">
    <p th:text="Android"></p>
    <table>
        <thead>
        <tr>
            <th class="text-center">no</th>
            <th>카테고리</th>
            <th>제목</th>
            <th>조회수</th>
            <th>작성일</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="androidBoard: ${androidBoards}">

            <td th:text="${androidBoard.mainProductId}"></td>
            <td th:text="${androidBoard.mainProductCategory}"></td>
            <td>
                <a th:href="@{'/mainProductBoard/Detail' + ${androidBoard.mainProductId}}">
                    <span th:text="${androidBoard.mainProductTitle}"></span>
                </a>
            </td>
            <td th:text="${androidBoard.mainProductHit}"></td>
            <td th:text="${androidBoard.mainProductDate}"></td>

        </tr>
        </tbody>
    </table>
</div>

<div class="cate_board">
    <p th:text="Javascript"></p>
    <table>
        <thead>
        <tr>
            <th class="text-center">no</th>
            <th>카테고리</th>
            <th>제목</th>
            <th>조회수</th>
            <th>작성일</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="jsBoard: ${jsBoards}">

            <td th:text="${jsBoard.mainProductId}"></td>
            <td th:text="${jsBoard.mainProductCategory}"></td>
            <td>
                <a th:href="@{'/mainProductBoard/Detail' + ${jsBoard.mainProductId}}">
                    <span th:text="${jsBoard.mainProductTitle}"></span>
                </a>
            </td>
            <td th:text="${jsBoard.mainProductHit}"></td>
            <td th:text="${jsBoard.mainProductDate}"></td>

        </tr>
        </tbody>
    </table>
</div>

<div class="cate_board">
    <p th:text="JPA"></p>
    <table>
        <thead>
        <tr>
            <th class="text-center">no</th>
            <th>카테고리</th>
            <th>제목</th>
            <th>조회수</th>
            <th>작성일</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="jpaBoard: ${jpaBoards}">

            <td th:text="${jpaBoard.mainProductId}"></td>
            <td th:text="${jpaBoard.mainProductCategory}"></td>
            <td>
                <a th:href="@{'/mainProductBoard/Detail' + ${jpaBoard.mainProductId}}">
                    <span th:text="${jpaBoard.mainProductTitle}"></span>
                </a>
            </td>
            <td th:text="${jpaBoard.mainProductHit}"></td>
            <td th:text="${jpaBoard.mainProductDate}"></td>

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>