<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="fragments/header:: headerFragment"></th:block>

<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Stylish&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/dixonandmoe/rellax@master/rellax.min.js"></script>
    <style>
        *{font-family: 'Stylish', sans-serif;}

        #cate_area {
            width: 80%;
            text-align: center;
            margin-left: auto;
        }

        .cate_board {
            margin: 15px;
            border: 1px solid #ccc;
            float: left;
            width: 350px;
            height: 270px;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        tbody > tr:hover {
            background-color: #9CE3B3FF;
        }

        p {
            padding-left: 5px;
            background-color: #2BAE66;
            color: white;
            width: auto;
        }

    </style>

</head>
<body>

<div id="cate_area">
    <!-- 카테고리 -->
    <div class="cate_board" data-rellax-speed="8">
        <p th:text="동남아시아"></p>
        <table>
            <thead>
            <colgroup>
                <col width="70%">
                <col width="30%">
            </colgroup>
            </thead>

            <tbody>
            <tr th:each="esAsiaBoard: ${esAsia}" th:onclick="|location.href='/esAsiaBoard/Detail${esAsiaBoard.esasiaId}'|">
                <td th:text="${esAsiaBoard.esasiaTitle}"></td>
                <td th:text="${esAsiaBoard.esasiaDate}"></td>
            </tr>
            </tbody>
        </table>
    </div>


    <div class="cate_board" data-rellax-speed="4">
        <p th:text="|인도|"></p>
        <table>
            <thead>
            <colgroup>
                <col width="70%">
                <col width="30%">
            </colgroup>
            </thead>

            <tbody>
            <tr th:each="indiaBoard: ${india}" th:onclick="|location.href='/indiaBoard/Detail${indiaBoard.indiaId}'|">
                <td>
                    <span th:text="${indiaBoard.indiaTitle}"></span>
                </td>
                <td th:text="${indiaBoard.indiaDate}"></td>

            </tr>
            </tbody>
        </table>
    </div>

    <div class="cate_board" data-rellax-speed="1">
        <p th:text="|중앙 아시아|"></p>
        <table>
            <thead>
            <colgroup>
                <col width="70%">
                <col width="30%">
            </colgroup>
            </thead>

            <tbody>
            <tr th:each="cenAsiaBoard: ${cenasia}" th:onclick="|location.href='/cenAsiaBoard/Detail${cenAsiaBoard.cenasiaId}'|">
                <td th:text="${cenAsiaBoard.cenasiaTitle}"></td>
                <td th:text="${cenAsiaBoard.cenasiaDate}"></td>

            </tr>
            </tbody>
        </table>
    </div>

    <div class="cate_board" data-rellax-speed="5">
        <p th:text="|중동 아시아|"></p>
        <table>
            <thead>
            <colgroup>
                <col width="70%">
                <col width="30%">
            </colgroup>
            </thead>

            <tbody>
            <tr th:each="measiaBoard: ${measia}"
                th:onclick="|location.href='/meAsiaBoard/Detail${measiaBoard.measiaId}'|">
                <td>
                    <span th:text="${measiaBoard.measiaTitle}"></span>
                </td>
                <td th:text="${measiaBoard.measiaDate}"></td>

            </tr>
            </tbody>
        </table>
    </div>

    <div class="cate_board" data-rellax-speed="1">
        <p th:text="|유럽|"></p>
        <table>
            <thead>
            <colgroup>
                <col width="70%">
                <col width="30%">
            </colgroup>
            </thead>

            <tbody>
            <tr th:each="europeBoard: ${europe}" th:onclick="|location.href='/europeBoard/Detail${europeBoard.europeId}'|">
                <td>
                    <span th:text="${europeBoard.europeTitle}"></span>
                </td>
                <td th:text="${europeBoard.europeDate}"></td>

            </tr>
            </tbody>
        </table>
    </div>

    <div class="cate_board" data-rellax-speed="-2">
        <p th:text="|북중미|"></p>
        <table>
            <thead>
            <colgroup>
                <col width="70%">
                <col width="30%">
            </thead>

            <tbody>
            <tr th:each="ncAmericaBoard: ${ncAmerica}" th:onclick="|location.href='/ncAmericaBoard/Detail${ncAmericaBoard.ncamericaId}'|">
                <td>
                    <span th:text="${ncAmericaBoard.ncamericaTitle}"></span>
                </td>
                <td th:text="${ncAmericaBoard.ncamericaDate}"></td>

            </tr>
            </tbody>
        </table>
    </div>

    <div class="cate_board" data-rellax-speed="-4">
        <p th:text="|남미|"></p>
        <table>
            <thead>
            <colgroup>
                <col width="70%">
                <col width="30%">
            </thead>

            <tbody>
            <tr th:each="sAmericaBoard: ${sAmerica}" th:onclick="|location.href='/sAmericaBoard/Detail${sAmericaBoard.samericaId}'|">
                <td>
                    <span th:text="${sAmericaBoard.samericaTitle}"></span>
                </td>
                <td th:text="${sAmericaBoard.samericaDate}"></td>

            </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
    new Rellax('.cate_board');
</script>
</body>
</html>