<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="fragments/header:: headerFragment"></th:block>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/BoardForm.css}">
</head>
<body>

<div class="container">
    <form th:action="@{/europeBoard/Update}" method="post" enctype="multipart/form-data">

        <input type="hidden" id="id" name="id" th:value="${boardOne.europeId}" placeholder="제목을 입력하세요" maxlength="15">

        <div class="row">
            <div class="col-25">
                <label class="title_label" for="category">카테고리</label>
            </div>
            <div class="col-75">
                <select id="category" name="category">
                    <option th:value="${boardOne.europeCategory}" th:text="${boardOne.europeCategory}"></option>
                    <option value="Bulgaria">불가리아</option>
                    <option value="Romania">루마니아</option>
                    <option value="Moldova">몰도바</option>
                    <option value="Transnistria">트란스니스트리아</option>
                    <option value="Ukraine">우크라이나</option>
                    <option value="Slovakia">슬로바키아</option>
                    <option value="Czech">체코</option>
                    <option value="France">프랑스</option>
                    <option value="Uk">영국</option>
                    <option value="Iceland">아이슬란드</option>
                    <option value="Russia">러시아</option>
                </select>
            </div>
        </div>


        <div class="row">
            <div class="col-25">
                <label class="title_label" for="title">제목</label>
            </div>
            <div class="col-75">
                <input type="text" id="title" name="title" th:value="${boardOne.europeTitle}">
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label class="title_label" for="tubelink">유튜브 주소 ID</label>
            </div>
            <div class="col-75">
                <input type="text" id="tubelink" name="tubelink" th:value="${boardOne.tubelink}" placeholder="유튜브 주소 ID를 입력하세요">
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label class="title_label" for="content">내용</label>
            </div>
            <div class="col-75">
                <textarea id="content" name="content" th:text="${boardOne.europeContent}" placeholder="내용을 입력하세요" style="height:200px"> </textarea>
            </div>
        </div>

        <input type="hidden" id="date" name="date" th:value="${#temporals.format(localDate,'yyyy-MM-dd')}">

        <br>
        <input type="file" name="file"/>

        <div class="row">
            <input type="submit" value="등록">
        </div>
    </form>
</div>

</body>
</html>